<div class="flex flex-column align-items-end border-bottom-1 border-gray-200 pt-3 pb-3">
  <div class="flex flex-row align-items-center">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bell"
      class="p-button-rounded p-button-secondary p-button-text mr-3"
    ></button>
    <p-avatar
      image="./assets/images/user.png"
      size="small"
      shape="circle"
      class="mr-2"
    ></p-avatar>
    <div>
      <p class="text-base mb-0 mt-1 text-gray-700">{{username}}</p>
      <p class="text-sm mb-1 mt-0 text-gray-500">{{userRole}}</p>
    </div>
    <div>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-down"
        class="p-button-secondary p-button-text"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
</div>