<div class="flex" style="height: 100vh">
  <div class="col-6 m-3 flex flex-column justify-content-center">
    <div class="m-auto">
      <div class="text-center">
        <p-avatar
          image="./assets/images/logo.jpg"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <h1>Hesabın ile giriş yap.</h1>
      </div>
      <p-message
        *ngIf="errorMsg"
        severity="error"
        [text]="errorMsg"
        styleClass="mb-2 w-full"
      ></p-message>
      <div class="field">
        <label for="email">E-posta</label>
        <input
          [(ngModel)]="authenticationRequest.username"
          id="email"
          pInputText
          placeholder="E-posta adresinizi giriniz."
          type="email"
          class="w-full"
        >
      </div>
      <div class="field">
        <label for="password">Şifre</label>
        <input
          [(ngModel)]="authenticationRequest.password"
          id="password"
          pInputText
          placeholder="Şifrenizi giriniz."
          type="password"
          class="w-full"
        >
      </div>
      <button
        pButton
        label="Giriş Yap"
        class="w-full"
        (click)="login()"
      ></button>
      <button
        pButton
        label="Hesabın yoksa lütfen kaydol."
        class="w-full p-button-link text-left pl-0"
        (click)="register()"
      ></button>
    </div>
  </div>
  <div class="col-6 flex flex-column justify-content-center align-items-center center-container">
    <img
      width="800px"
      class="p-2 pt-0"
      src="./assets/images/background.jpg"
    >
  </div>
</div>
